.TelaPedido {
    padding: 16px;
    margin-top: 64px;
    margin-bottom: 64px;
    max-height: 500px;
}

.Cabecalho {
    display: flex;
    flex-wrap: wrap;
    height: 10px;
    margin-left: 7%;
    margin-right: 10%;
    /*min-width: 500px;*/
    justify-content: center;
    
}

.ContainerConteudo {
    flex-direction: column;
    margin-top:170px;
    height:50%;
    margin-bottom:100px;
    margin-right: 20px;
    width: 100%;
    flex-grow: 1;
}

@media screen and (max-width: 620px) {
    .ContainerConteudo {
        margin-top: 200px;
        width: 100%;
    }

    .LblStatus {
        margin-top: 10px;
    }

    .TelaPedido {
        max-width: 100%;
        min-width: 100%;
    }

}

.ContainerObservacao {
    width: 90vw;
    margin-top: 10px;
}

.ContainerItensPedido {
    max-height: 300px;
    overflow-y: auto;
    margin-right: 20px;
    padding-right: 10px;
}

.InfoFrete {
    background-color: #a7cf45;
    border-radius: 15px;
    width: 200px; 
    box-shadow: 3px 3px 5px black;
    text-align: center;
    transition: background-color 0.2s ease-out;
}

.InfoFrete:hover {
    background-color: #b9cf86;
}

.MuiAppBar-root {
    background-color: #074173 !important;
    position: fixed;
}

.BarraInferior {
    bottom: 0; 
    top: auto;
}

.Pedido {
    display: flex;
    flex-direction: column;

}

.MuiToolbar-root {
    display: flex;
    justify-content: space-between;
}

.MuiSpeedDial-root {
    position: absolute;
    bottom: 16;
    left: 16;
}

.ContainerValorTotal {
    display: flex;
    align-items: center;
}

.LblValor {
    margin-left: 10px;
}

.ContainerSelecaoStatus {
    width: 200px;
    margin-left: 10px;
}

.LblStatus {
    text-align: center;
    width: 100%;
}

.SelectStatus {
    text-align: center;
}

.Observacao {
    width: 80vw
}

.LblNumPedido {
    margin-left: 2;
    flex: 1;
    text-align: center
}
