.Title {
    font-weight: bold;
}

.BotoesCadastro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 35%;
    min-width: 20%;
}

.Cadastros {
    display: flex;
    flex-direction: row;
}

.ListaCadastros {
    margin-left: 1%;
}

.TabelaClientes {
    height: 100%;
    width: 100%;
}

.ContainerBtnIncluir {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 10px;
}

.TxtPesquisarMotorista {
    flex-grow: 1;
}
