.ContainerNumeros {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    padding: 5px;
}

.SeletorFamilia {
    width: 50%;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 5px;
}