.SidebarRepresentante {
    position: fixed;
    display: flex;
    height: 100%;
    /* 
     * Tamanho do sidebar. Devido ao position:fixed, o .Main (App.css) precisa ter a margem esquerda
     * igual ao width do sidebar. Senão os elementos se sobrepõem.
     */
    width: 200px; 
    max-width: 200px;
    background-color: #074173;
    transition: width 2;
  }

.MainRepresentante {
    padding: 20px;
    flex-grow: 1;
    /*
     * A margem esquerda precisa ter o mesmo tamanho que o width do sidebar, para não sobrepor
    */
    margin-left: 200px;
}