:root {
    font-family: "Roboto";
}

.App {
    height: 100vh;
    width: 100vw;
    display: flex;
}


body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.Main {
    padding: 20px;
    flex-grow: 1;
    /*
     * A margem esquerda precisa ter o mesmo tamanho que o width do sidebar, para não sobrepor
    */
    margin-left: 200px;
}