.Title {
    font-weight: bold;
}

.BotoesCadastro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 35%;    
}

.Cadastros {
    display: flex;
    flex-direction: row;
}

.ListaCadastros {
    margin-left: 1%;
}

.TabelaClientes {
    height: 100%;
    width: 100%;
}